.container{
    background-color: transparent;
    height: 957px;
    width: 100%;
    align-items: center;    
    padding: 15% 0;
    text-align: center;

}

.textcont{
    margin: auto;
    width: 25%;
    font-size: larger;
}

@media  (max-width: 1240px) {
    .textcont{
        margin: auto;
        width: 50%;
        font-size: larger;
    }
    
}